---
layout: default
permalink: /404.html
---

<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <div class="row justify-content-center">
                <h1>
                    404 - Page not found :(
                </h1>
            </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div>
                    Click <strong><a href="https://radicallyopensecurity.com/">here</a></strong> to go back to the homepage
                </div>
            </div>
        </div>
    </div>
</div>
