<div class="container-fluid">
    <div class="row">
        <div class="footer">
            <div class="footer__top">
                <div class="left">
                    <a class="footer__email-address footer-link footer-link--grey" href="mailto:info@radicallyopensecurity.com">
                        info@radicallyopensecurity.com
                    </a>
                    <a href="https://www.linkedin.com/company/radically-open-security/" target="_blank" class="footer__social-icon linkedin footer-link--grey"><img class="" src="{{ '/assets/icons/linkedin.svg' | prepend: site.baseurl }}" alt="linkedin"></a>
                    <a href="https://twitter.com/ROSecurity" target="_blank" class="footer__social-icon twitter footer-link--grey"><img class="" src="{{ '/assets/icons/twitter.svg' | prepend: site.baseurl }}" alt="twitter"></a>
                </div>
                <div class="right">
                    <a class="footer-link footer-link--grey" href="https://github.com/radicallyopensecurity/ros-website/blob/main/ROS_Privacy_Policy__-_V1.0_-_2022.pdf" target="_blank">Privacy Policy</a>
                    <a class="footer-link footer-link--grey" href="https://github.com/radicallyopensecurity/ros-website/blob/main/ROS%20general%20terms%20and%20conditions.pdf" target="_blank">T&C's</a>
                </div>
            </div>
            <div class="footer__bottom">
                <a class="footer__email-address footer__email-address--grey link"
                   href="mailto:info@radicallyopensecure.com">
                    info@radicallyopensecure.com
                </a>
                <span class="footer__pipe">|</span>
                <span class="footer__design_by">Design by Studio Co</span>
            </div>
        </div>
    </div>
</div>
