<nav class="navbar
{% if include.transparent == true %}
 nav-bar--transparent
{% endif %}
">
    <div class="container">
        <div class="nav--desktop">
            {% include nav.html %}
        </div>
        <div class="nav--mobile">
            {% include nav-mobile.html %}
        </div>
    </div>
</nav>

