<div class="container">
    <div class="page-banner page-banner--news page-banner--text-center">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="col-12">
                    <h1 class="page-banner__title page-banner__title--news">{{ page.title }}</h1>
                </div>
                {% if page.banner-text %}
                <div class="col-12">
                    <p class="page-banner__text page-banner__text--news">
                        {{ page.banner-text }}
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if page.banner-divider != false %}
    <div class="divider divider--low-margin"></div>
    {% endif %}
</div>
