.public-report {
  padding: 20px 0;
  border-top: 2px $ros-white solid;

  &:last-child {
    border-bottom: 2px $ros-white solid;
  }
}

.public-report a {
  font-style: italic;
}

.public-report.resource a {
  font-style: normal;
}

.public-report__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $ros-orange;
}

.public-report__logo {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  & img {
    height: 100%;
    width: auto;
  }
}
