---
layout: post
title: "A busy year"
summary: "So it has been a year since our last update. Inexcusable, but we have a great excuse: we were busy! Which is not bad for an ambitious startup like Radically Open Security."
author: Melanie Rieback
banner-divider: false
featured-image: '2015-ISOC.nl-award-MandM.jpg'
background-color: light
---

<div class="content">
            
            <p>So it has been a year since our last update. Inexcusable, but we have a
great excuse: we were busy! Which is not bad for an ambitious startup
like Radically Open Security.</p>
<p>Great new projects, presentations and meetings have kept us off the
streets. More and more organizations and companies acknowledge that they
are responsible for providing their customer with secures services and
communications, and have asked us to test the security of their systems
online. By now our client base has grown to include companies like
Surfnet, Free Press Unlimited and Amsio.</p>
<p>We are presently collecting case studies of some of our projects. You
will be able to find them online soon! And of course, you can find
examples of our work on
<a class="reference external" href="https://github.com/radicallyopensecurity">Github</a>.</p>
<p>Melanie Rieback was particularly busy, raising awareness of the <a class="reference external" href="https://youtu.be/xdE_GyklHq8">need
for transparency in the online security
sector</a>.</p>
<p>We also developed the <a class="reference external" href="https://netaidkit.net/">NetAidKit</a> in
partnership with the Dutch NGO Free Press Unlimited. This <a class="reference external" href="https://isoc.nl/isoc-nl-internet-innovatie-award-2015/">award
winning</a>
easy-to-use tool allows journalists and activists around the globe to
use the internet securely and anonymously.</p>
<a class="reference external image-reference" href="https://isoc.nl/isoc-nl-internet-innovatie-award-2015/"><img alt="Menso Heus and Melanie Rieback accept the ISOC.nl Innovation Award on behalf of Free Press Unlimited and Radically Open Security" class="align-center" {{ '/assets/images/2015-ISOC.nl-award-MandM.jpg' | prepend: site.baseurl }} style="width: 100%;"></a>
<p>Another exciting project in the pipeline is our <em>Open Source Anti-DDos
Solution Project</em>. By developing open source analysis and mitigation
software, we want to make the – often expensive and complicated –
protection against DDoS attacks affordable and obtainable for smaller
companies and non-profit organizations. We have received support from
two organisations, first from <a class="reference external" href="https://nlnet.nl">NLnet Foundation</a> and
now recently from <a class="reference external" href="https://www.sidnfonds.nl/nieuws/uitslag-eerste-call-bekend">SIDN
Fonds</a>
for this project, for which we are very grateful.</p>
<p>So we spent this year working, not blogging. Radically Open Security has
presently grown to 38 staff members. Thirteen of our staff are women -
one of whom has been assigned the task of keeping our blog up to date,
starting today!</p>

            
            
        </div>