{% if paginator.total_pages > 1 %}
<div class="posts-paginator">
    <div class="row">
        <div class="col-1">
            {% if paginator.previous_page %}
            <div class="posts-paginator__arrow">
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
                    <img style="width: 40px" src="{{ '/assets/images/arrow-left.png' | prepend: site.baseurl }}">
                </a>
            </div>
            {% endif %}
        </div>
        <div class="col-10">
            <div class="posts-paginator__wrapper">
                {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                <div class="posts-paginator__item {% if page.url == trail.path %}selected {% endif %} ">
                    <a class="posts-paginator__link" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                </div>
                {% if forloop.last == false %}
                <span>,</span>
                {% else %}
                <div style="display: inline-block">
                    {% if paginator.last_page != paginator.page %}
                    <span>.....</span>
                    <div class="posts-paginator__item {% if page.url == trail.path %}selected {% endif %} ">
                        <a class="posts-paginator__link" href="{{ paginator.last_page_path | prepend: site.baseurl }}" title="{{trail.title}}">{{ paginator.last_page }}</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-1">
            {% if paginator.next_page %}
            <div class="posts-paginator__arrow">
                <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
                    <img style="width: 40px" src="{{ '/assets/images/arrow-right.png' | prepend: site.baseurl }}">
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
