<div class="post-card">
    {% if include.post.featured-image %}
    <img class="post-card__image"
         src="{{ '/assets/images/posts/' | append: include.post.featured-image | prepend: site.baseurl }}">
    {% endif %}
    <div class="post-card--title">{{ include.post.title }}</div>
    <div class="content">
        {{ include.post.summary }}
        <span class="post-card__link">
            <a class="post-card__link-anchor">
                <img class="post-card__link-arrow" src="{{ '/assets/images/arrow-right.png' | prepend: site.baseurl }}"> Read Post
            </a>
        </span>
    </div>
    <a class="post-card__stretched-link" href="{{ include.post.url | prepend: site.baseurl }}"></a>
</div>
