---
layout: default
title: Our Portfolio
background-color: dark
permalink: /our-portfolio/
banner-divider: false
banner-text:
---

<div class="container pb-4">
    <div class="mb-5">
        <div class="py-4">
            <div class="section-title">Public Reports Portfolio</div>
        </div>
        {% include public-reports-portfolio.html %}
    </div>
    <div class="py-2">
        <div class="section-title">Software and Presentation Portfolio</div>
    </div>
    At Radically Open Security we believe in
    transparency, which is why our software is
    available and open source.
    <div class="row">
        <div class="col-6">
            <a href="https://github.com/radicallyopensecurity" target="_blank">
                <div class="portfolio-logo">
                    <img class="portfolio-logo__logo"
                         src="{{ '/assets/images/logo_github.svg' | prepend: site.baseurl }}">
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="https://gitlab.com/radicallyopensecurity" target="_blank">
                <div class="portfolio-logo">
                    <img class="portfolio-logo__logo"
                         src="{{ '/assets/images/logo_gitlab.svg' | prepend: site.baseurl }}">
                </div>
            </a>
        </div>
    </div>
</div>
