<!DOCTYPE html>
<html class="
{% if page.background-color == 'light' %}
light-background
{% else if page.background-color == 'dark' %}
dark-background
{% endif %}
">
{% include head.html %}
<body>
<div class="site-wrapper">
    {% include header.html %}
    <div class="page-content">
        {% if page.title %}
        {% include page-banner.html %}
        {% endif %}

        {{ content }}
    </div>
</div>
{% include footer.html %}
</body>
{% include bottom-scripts.html %}
</html>
