<!DOCTYPE html>
<html class="
{% if page.background-color == 'light' %}
light-background
{% else if page.background-color == 'dark' %}
dark-background
{% endif %}
">
{% include head.html %}
<body>
{% include header.html %}
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="page-banner__title">{{ page.title }}</h1>
                <p>
                    {{ page.message }}
                </p>
            </div>
            <div class="col-12 col-md-6">
                <img class="error-page__image ml-md-5"
                     src="{{ '/assets/images/error-pages/' | append: page.image | prepend: site.baseurl }}"
                     alt="{{ page.title }}">
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
{% include bottom-scripts.html %}
</html>
