<!DOCTYPE html>
<html class="
{% if page.background-color == 'light' %}
light-background
{% else if page.background-color == 'dark' %}
dark-background
{% endif %}
">
{% include head.html %}
<body>
<div class="site-wrapper">
    {% include header.html
    transparent=true
    %}
    <div class="home-page__container">
        <style>
            .home-page {
                background-image: url("{{ '/assets/images/background-stairs.jpg' | prepend: site.baseurl }}")
            }
        </style>
        <div class="home-page__mobile_container">
            <div class="home-page">
                <div class="container">
                    <div class="home-page__text-container">
                        <img class="home-page__jumping-man"
                             src="{{ '/assets/images/ros_jumping_man.svg' | prepend: site.baseurl }}">
                        <h1 class="home-page__title mt-0">{{ page.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="home-page__text">
                    {{ page.banner-text }}
                </p>
            </div>
        </div>
        <div class="home-page__desktop_container">
            <div class="home-page">
                <div class="container">
                    <div class="home-page__text-container">
                        <h1 class="home-page__title">{{ page.title }}</h1>
                        <p class="home-page__text">
                            {{ page.banner-text }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
{% include bottom-scripts.html %}
</html>
