<!DOCTYPE html>
<html class="
{% if page.background-color == 'light' %}
light-background
{% else if page.background-color == 'dark' %}
dark-background
{% endif %}
">
{% include head.html %}
<body>
<div class="site-wrapper">
    {% include header.html %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 offset-md-3">
                    <div class="post__title">
                        {% if page.title %}
                        {% include page-banner-center-aligned.html %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-12 col-md-2 offset-md-1">
                        <div class="post-details__block post-details__block--no-mobile">
                            <div class="post-details__block-title">
                                <div class="post-details__title">
                                    {{ page.title }}
                                </div>
                            </div>
                        </div>
                        {% if page.author %}
                        <div class="post-details__block">
                            <div class="post-details__block-title">
                                Posted By:
                            </div>
                            <div class="post-details__details">
                                {{ page.author }}
                            </div>
                            <div class="post-details__details post-details__details--small-muted">
                                {{ page.date | date: '%d %B %Y' }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-7">
                        {% if page.featured-image %}
                        <img class="post__image"
                             src="{{ '/assets/images/posts/' | append: page.featured-image | prepend: site.baseurl }}">
                        {% else %}
                        {{ content }}
                        {% endif %}
                    </div>
                </div>
                {% if page.featured-image %}
                <div class="row">
                    <div class="col-12 col-md-7 offset-md-3">
                        {{ content }}
                    </div>
                </div>
                {% endif %}
        </div>
    </div>
    {% include footer.html %}
</div>
</body>
{% include bottom-scripts.html %}
</html>
